 * {
  box-sizing: border-box;
 } 


  .website header,
  .website footer {
    font-weight: 700;
  }
  
  .website header,
  .website footer,
  .website .sidebar,
  .website .content {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: white;
  }
  
 
  .main {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
   
  }
  
  header{
    background-color: rgb(218, 30, 30);
  }

  footer{
    background-color: blueviolet;
  }

  .content {
    background-color: powderblue;
    text-transform: uppercase;
    width: 60%;
  }
  
  
  .sidebar-1 {
    order: -1;
    background-color: green;
    width: 20%;
  }

  .sidebar-2 {
    background-color: pink;
    
    width: 20%;
   
  }
  
  

    @media (max-width: 768px) {
      header,
      footer,
      .sidebar-1,
       .sidebar-2,
       .content {
      width: 100%;
      }
    }
				
  }