  .website header,
  .website footer {
    font-weight: 700;
  }
  
  .website header,
  .website footer,
  .website .hg-sidebar,
  .website .hg-content {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: white;
  }
  
  .website,
  .hg-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  
  header{
    background-color: rgb(218, 30, 30);
  }

  footer{
    background-color: blueviolet;
  }

  .hg-content {
    flex: 1 1 auto;
    background-color: powderblue;
    text-transform: uppercase;
  }
  
  
  .hg-sidebar-1 {
    order: -1;
    background-color: green;
  }

  .hg-sidebar-2 {
    background-color: pink;
  }
  
  @media (min-width: 768px) {
    .hg-main {
      flex-direction: row;
    }
    
    .hg-sidebar {
      flex: 0 0 200px;
    }  
  }
  
  @media (min-width: 992px) {
    .hg-sidebar {
      flex: 0 0 260px;
    } 
  }

    @media (max-width: 768px) {
        .website{
            width: 100%;
        }
  }